<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Wiki{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        {% load static %}
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="col-lg-2 sidebar">
                <h2>Wiki</h2>
                <form action="{% url 'search' %}" method="get">
                    <input type="text" name="q" placeholder="Search Encyclopedia">
                    <button type="submit">Search</button>
                </form>
                <ul>
                    <li><a href="{% url 'index' %}">All Pages</a></li>
                    <li><a href="{% url 'create_new_page' %}">Create New Page</a></li>
                    <li><a href="{% url 'random' %}">Random Page</a></li>
                </ul>
            </div>
            <div class="col-lg-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>