{% extends "habits_tracker/layout.html" %}

{% block body %}
<div>
    {% if habits %}
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Habit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for date in week_dates %}
                    {% for habit in habits %}
                    <tr>
                        <td>{{ date }}</td>
                        <td>{{ habit.name }}</td>
                        <td>
                            <form method="post" action="{% url 'toggle_completion' habit.id date %}">
                                {% csrf_token %}
                                <button type="submit">Toggle Completion</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div style="text-align: center; width: 400px; margin: 0 auto; padding: 10px; margin-top: 200px;">
            <div>
                <h6 colspan="3">No habits created yet</h6>
            </div>
            <div>
                <button type="submit" class="btn btn-secondary">Create habit</button>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}