{% extends "tasker/layout.html" %}

{% block body %}
<div class="container-task-form create-task">
    <div class="task-form">
        <h2>Create a Task</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.date_to_complete.label_tag }}
                {{ form.date_to_complete }}
            </div>
            <div class="form-group">
                {{ form.size.label_tag }}
                {{ form.size }}
            </div>
            <div class="form-group">
                {{ form.priority.label_tag }}
                {{ form.priority }}
            </div>
            <div class="form-group">
                {{ form.status.label_tag }}
                {{ form.status }}
            </div>
            <button type="submit" class="btn btn-primary">Save Task</button>
        </form>
    </div>
</div>

{% endblock %}