<div class="kanban-card {{ task.status }}" draggable="true" ondragstart="drag(event)" id="task-{{ task.id }}">
  <h5>{{ task.name }}</h5>
  <p title="{{ task.description }}">{{ task.description|truncatechars:50 }}</p>
  <div class="card-footer">
      <div class="icon-container">
          <a href="{% url 'edit_task' task.id %}" title="Edit Task">
              <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a href="{% url 'edit_task' task.id %}" title="View Task">
              <i class="fa-solid fa-eye"></i>
          </a>
          <a href="#" title="Duplicate Task" onclick="duplicateTask('{{ task.id }}')">
              <i class="fa-solid fa-copy"></i>
          </a>
          <a href="#" title="Delete Task" onclick="deleteTask('{{ task.id }}')">
              <i class="fa-solid fa-trash"></i>
          </a>
      </div>
      <div class="due-date">
          <i class="fa-regular fa-clock"></i> {{ task.date_to_complete|date:"d M" }}
      </div>
  </div>
</div>